.main {
  display: flex;
  color: wheat;

}
.container {
  display: flex;
  overflow-x: auto;
}
// .container::-webkit-scrollbar {
//   display: none;
// }
.slide {
  border-radius: 20px;
  margin: 10px;
  // min-width: 250px;
  height: calc(100vh - 100px);
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // position: relative;
  transition: all 500ms ease-in-out;
  
}
// h3 {
//   position: absolute;
//   font-size: 24px;
//   left: 20px;
//   bottom: 20px;
//   margin: 0;
//   opacity: 0;
// }
.slide:hover {
  flex: 15;
}
// .slide:hover h3 {
//   opacity: 1;
//   transition: opacity 0.3s ease-in;
// }