@charset "UTF-8";

@import url(modules/header.css);
@import url(modules/nav.css);
@import url(modules/main.css);
@import url(modules/popUp.css);
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
/* Базавая стилистика */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
// section,
// header,
// footer {
//   padding: 0 15px;
// }
// @media (min-width: 575.98px) {
//   section,
//   header,
//   footer {
//     padding: 0 calc(50vw - 270px);
//   }
// }
// @media (min-width: 767.98px) {
//   section,
//   header,
//   footer {
//     padding: 0 calc(50vw - 360px);
//   }
// }
// @media (min-width: 991.98px) {
//   section,
//   header,
//   footer {
//     padding: 0 calc(50vw - 480px);
//   }
// }
// @media (min-width: 1199.98px) {
//   section,
//   header,
//   footer {
//     padding: 0 calc(50vw - 590px);
//   }
// }
